body{
  font: 20px Arial, sans-serif
}

.navbar {
  background-color: brown;
}

.nav-link {
  color: white;
}

.quem-somos{
  background-color: rgb(184, 178, 178);
  color: white;
}

.margin{
   padding-bottom: 50px;
   padding-top: 10px;
}

.parceiros{
  background-color:rgb(155, 153, 153) ;
  color: white;
}

.servicos{
  background-color: rgb(131, 130, 130);
  color: white;
}

.bg-footer{
  background-color: black;
  color:white;
  padding-top: 50px;
}